div{
    position: absolute;
    border: 2px solid black;
    background-color: white;
}

.div1 {
    width: 150px;
    height: 100px;
    z-index: 1;
}

.div2 {
    width: 120px;
    height: 100px;
    left: 100px;
    top: 75px;
    z-index: 2;
}

.div3 {
    width: 300px;
    height: 100px;
    top: 165px;
    left: 10px;
    z-index: 3; 
}

.div4 {
    width: 80px;
    height: 200px;
    left: 285px;
    z-index: 4;
}