div{
    border: 2px solid black;
}

.header {
    position: relative;
    width: 800px;
    height: 150px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 350px;
    height: 75px;
}

.top-nav {
    position: absolute;
    left: 600px;
    top: 10px;
    width: 150px;
    height: 25px;
}

.menu {
    position: absolute;
    width: 500px;
    height: 25px;
    left: 275px;
    top: 120px;
}
